:root {
  --black: #000000;
  --black2: #242529;

  --white: #ffffff;
  --white2: #FAF6FF;
  --white50: #ffffff50;

  --primary: #5D80FA;
  --primary2: #2D6CE9;
  --primary3: #4D81E7;
  --primary4: #4E74F9;

  --text: #131217;
  --placeholder: #6C7278;

  --border: #EDF1F3;
  --border2: #E6E6E6;

  --success: #00C853;
  --error: #E61D1D;

  --option1: #FFDAB9;
  --option2: #E6CEFA;
  --option3: #96BFFF;
  --option4: #A3E1DE;

  --radius-xl: 20px;
  --radius-lg: 16px;
  --radius-md: 12px;

  --shadow-card: 0 10px 30px rgba(0,0,0,0.08);
  --shadow-soft: 0 8px 24px rgba(0,0,0,0.06);

  --container: 1200px;
}
