@import "./styles/theme.css";
@import "./styles/background.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--text);
  background: var(--white2);
}

* { box-sizing: border-box; }

a { color: inherit; text-decoration: none; }
